---
layout: default
---

<header class="post-header">
    <h1 class="post-title">Calendario</h1>
</header>

<div markdown="1">


Indicazioni complete sul calendario del primo semestre disponibili sul <a href="https://www.biologia.unipi.it/orario-btc-l.html#BTC-L">sito del Corso di Laurea</a>.

Nota: le lezioni frontali sugli argomenti del corso terminano con la lezione su Moduli e assegnamento progetto, indicativamente il 23/11. Le lezioni rimanenti saranno esclusivamente esercitazioni in aula.

</div>


<div class="home">
    <ul class="responsive-table" style="margin-left: 0;">
        <li class="table-header">
            <div class="col col-1">Data</div>
            <div class="col col-1-2">Tipologia</div>
            <div class="col col-2">Descrizione</div>
            <!-- <div class="col col-4">Course Material</div> -->
        </li>
        

        {% assign all_events = site.events | concat: site.lectures %}
        {% assign all_events_sorted = all_events | sort: 'date' %}

        {% for event in all_events_sorted %}
        {% if event.hide_from_calendar %}
        {% else %}
        <li class="table-row table-row-{{ event.type}}">
            {% include schedule_row_{{ event.type }}.html event=event %}
        </li>
        {% endif %}
        {% endfor %}

    </ul>
</div>